# Module:1 Data Validation Process

In [1]:
#import libraries for access and functional purpose
import pandas as p
import numpy as n
import matplotlib.pyplot as plt
import seaborn as s

In [2]:
#read the given dataset
df = p.read_csv("df.csv")

In [3]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,rainfall,Average Humidity,Mean Temp,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,0.012360,57,62,23076.74,1941.55,9.83,19085.4365
1,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,0.084119,56,58,12610.85,1691.66,6.83,11554.0378
2,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,0.080064,58,53,32683.46,3207.35,9.33,29924.5755
3,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,0.181051,57,58,13209.32,2228.97,5.90,13150.9230
4,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Arecanut,1264.7,0.035446,63,67,22560.30,1595.56,13.57,21651.7492

In [4]:
listcrops = p.Categorical(df['Crop'])
listcrops

[Arecanut, Arecanut, Arecanut, Arecanut, Arecanut, ..., Wheat, Wheat, Wheat, Wheat, Wheat]
Length: 233864
Categories (124, object): [Apple, Arcanut (Processed), Arecanut, Arhar/Tur, ..., Yam, other fibres, other misc. pulses, other oilseeds]

In [5]:
df['Crop'].value_counts()

Rice                     13994
Maize                    13362
Moong(Green Gram)         9653
Urad                      9235
Sesamum                   8431
Groundnut                 8260
Sugarcane                 7612
Wheat                     7471
Arhar/Tur                 7274
Rapeseed &Mustard         7163
Gram                      7041
Jowar                     7006
Onion                     6908
Potato                    6425
Dry chillies              6231
Bajra                     5380
Sunflower                 5338
Cotton(lint)              4459
Small millets             4453
Sweet potato              4198
Peas & beans (Pulses)     4157
Linseed                   4151
Barley                    3969
Ragi                      3962
Turmeric                  3945
Masoor                    3814
Horse-gram                3634
Other Kharif pulses       3476
Coriander                 3369
Castor seed               3359
                         ...
Ribed Guard                 38
Yam                         36
Cashewnut Raw               35
Rubber                      29
Carrot                      28
Lentil                      24
Cashewnut Processed         21
Jute & mesta                20
Atcanut (Raw)               20
Bean                        20
Arcanut (Processed)         20
Cond-spcs other             18
Rajmash Kholar              18
Beet Root                   16
Kapas                       12
Peas  (vegetable)           11
Colocosia                   11
Ber                         11
Ricebean (nagadal)          10
other fibres                10
Jobster                      9
Perilla                      9
Turnip                       8
Pear                         6
Litchi                       6
Coffee                       6
Plums                        6
Peach                        4
Apple                        4
Other Dry Fruit              1
Name: Crop, Length: 124, dtype: int64

In [6]:
df['Crop'].nunique()

124

In [7]:
df['Crop'].unique()

array(['Arecanut', 'Arhar/Tur', 'Banana', 'Black pepper', 'Cashewnut',
       'Coconut ', 'Dry chillies', 'Dry ginger', 'Groundnut', 'Maize',
       'Moong(Green Gram)', 'Other Kharif pulses', 'other oilseeds',
       'Rice', 'Sugarcane', 'Sunflower', 'Sweet potato', 'Tapioca',
       'Turmeric', 'Urad', 'Bajra', 'Beans & Mutter(Vegetable)', 'Bhindi',
       'Bottle Gourd', 'Brinjal', 'Cabbage', 'Castor seed',
       'Citrus Fruit', 'Coriander', 'Cotton(lint)', 'Cowpea(Lobia)',
       'Cucumber', 'Garlic', 'Ginger', 'Gram', 'Grapes', 'Horse-gram',
       'Jowar', 'Korra', 'Lemon', 'Linseed', 'Mango', 'Masoor', 'Mesta',
       'Niger seed', 'Onion', 'Orange', 'Other  Rabi pulses',
       'other fibres', 'Other Fresh Fruits', 'other misc. pulses',
       'Other Vegetables', 'Papaya', 'Peas  (vegetable)', 'Pome Fruit',
       'Pome Granet', 'Potato', 'Ragi', 'Rapeseed &Mustard', 'Safflower',
       'Samai', 'Sannhamp', 'Sapota', 'Sesamum', 'Small millets',
       'Soyabean', 'Tobacco', 'Tomato', 'Varagu', 'Wheat',
       'Oilseeds total', 'Pulses total', 'Blackgram', 'Jute', 'Paddy',
       'Peas & beans (Pulses)', 'Pineapple', 'Barley', 'Khesari',
       'Guar seed', 'Moth', 'Other Cereals & Millets', 'Carrot',
       'Cond-spcs other', 'Redish', 'Turnip', 'Arcanut (Processed)',
       'Atcanut (Raw)', 'Cardamom', 'Cashewnut Processed',
       'Cashewnut Raw', 'Bitter Gourd', 'Coffee', 'Drum Stick',
       'Jack Fruit', 'Pump Kin', 'Rubber', 'Snak Guard', 'Tea',
       'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Total foodgrain', 'Kapas', 'Bean', 'Colocosia', 'Jobster',
       'Lentil', 'Perilla', 'Rajmash Kholar', 'Ricebean (nagadal)',
       'Apple', 'Ash Gourd', 'Beet Root', 'Ber', 'Lab-Lab', 'Litchi',
       'Peach', 'Pear', 'Plums', 'Ribed Guard', 'Yam', 'Other Dry Fruit',
       'Jute & mesta'], dtype=object)

In [8]:
df.shape

(233864, 13)

In [9]:
#To describe the dataframe
df.describe()

,Crop_Year,Area,rainfall,Average Humidity,Mean Temp,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
count,233864.000000,2.338640e+05,233864.000000,233864.000000,233864.000000,233864.000000,233864.000000,233864.000000,2.338640e+05
mean,2005.638482,1.166065e+04,0.052453,48.217289,76.056691,35765.400969,1613.733751,94.563337,7.166202e+04
std,4.948908,3.762603e+04,0.082225,18.850435,12.050273,24852.532662,1102.682375,237.614952,1.813934e+05
min,1997.000000,4.000000e-02,0.000000,11.000000,52.000000,7868.640000,85.790000,1.320000,8.842152e+02
25%,2002.000000,8.000000e+01,0.000000,36.000000,66.000000,19083.550000,731.250000,9.590000,1.418030e+04
50%,2006.000000,5.870000e+02,0.004642,47.000000,79.000000,28144.500000,1595.560000,13.700000,2.560856e+04
75%,2010.000000,4.401000e+03,0.077676,62.000000,85.000000,45239.510000,2228.970000,36.610000,4.828261e+04
max,2015.000000,1.020181e+06,0.348660,100.000000,100.000000,91442.630000,5777.480000,1015.450000,2.206025e+06

In [10]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233864 entries, 0 to 233863
Data columns (total 13 columns):
State_Name                            233864 non-null object
District_Name                         233864 non-null object
Crop_Year                             233864 non-null int64
Season                                233864 non-null object
Crop                                  233864 non-null object
Area                                  233864 non-null float64
rainfall                              233864 non-null float64
Average Humidity                      233864 non-null int64
Mean Temp                             233864 non-null int64
Cost of Cultivation (`/Hectare) C2    233864 non-null float64
Cost of Production (`/Quintal) C2     233864 non-null float64
Yield (Quintal/ Hectare)              233864 non-null float64
cost of production per yield          233864 non-null float64
dtypes: float64(6), int64(3), object(4)
memory usage: 23.2+ MB

In [11]:
df[df.dtypes[df.dtypes == 'float64'].index].describe()

,Area,rainfall,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
count,2.338640e+05,233864.000000,233864.000000,233864.000000,233864.000000,2.338640e+05
mean,1.166065e+04,0.052453,35765.400969,1613.733751,94.563337,7.166202e+04
std,3.762603e+04,0.082225,24852.532662,1102.682375,237.614952,1.813934e+05
min,4.000000e-02,0.000000,7868.640000,85.790000,1.320000,8.842152e+02
25%,8.000000e+01,0.000000,19083.550000,731.250000,9.590000,1.418030e+04
50%,5.870000e+02,0.004642,28144.500000,1595.560000,13.700000,2.560856e+04
75%,4.401000e+03,0.077676,45239.510000,2228.970000,36.610000,4.828261e+04
max,1.020181e+06,0.348660,91442.630000,5777.480000,1015.450000,2.206025e+06

In [12]:
p.Categorical(df['State_Name']).describe()

                             counts     freqs
categories
Andaman and Nicobar Islands     203  0.000868
Andhra Pradesh                 9628  0.041169
Arunachal Pradesh              2546  0.010887
Assam                         14628  0.062549
Bihar                         18885  0.080752
Chandigarh                       90  0.000385
Chhattisgarh                  10709  0.045792
Dadra and Nagar Haveli          263  0.001125
Goa                             208  0.000889
Gujarat                        8436  0.036072
Haryana                        5875  0.025121
Himachal Pradesh               2494  0.010664
Jammu and Kashmir              1634  0.006987
Jharkhand                      1266  0.005413
Karnataka                     21122  0.090317
Kerala                         4261  0.018220
Madhya Pradesh                22943  0.098104
Maharashtra                   12628  0.053997
Manipur                        1267  0.005418
Meghalaya                      2867  0.012259
Mizoram                         957  0.004092
Nagaland                       3906  0.016702
Odisha                        13575  0.058047
Puducherry                      876  0.003746
Punjab                         3173  0.013568
Rajasthan                     12514  0.053510
Sikkim                          714  0.003053
Tamil Nadu                    13547  0.057927
Telangana                      5649  0.024155
Tripura                        1412  0.006038
Uttar Pradesh                 33306  0.142416
Uttarakhand                    2282  0.009758

In [13]:
p.Categorical(df['District_Name']).describe()

                    counts     freqs
categories
ADILABAD               650  0.002779
AGAR MALWA              28  0.000120
AGRA                   468  0.002001
AHMADABAD              372  0.001591
AHMEDNAGAR             495  0.002117
AIZAWL                 179  0.000765
AJMER                  409  0.001749
AKOLA                  355  0.001518
ALAPPUZHA              290  0.001240
ALIGARH                479  0.002048
ALIRAJPUR              178  0.000761
ALLAHABAD              470  0.002010
ALMORA                 350  0.001497
ALWAR                  436  0.001864
AMBALA                 320  0.001368
AMBEDKAR NAGAR         456  0.001950
AMETHI                 135  0.000577
AMRAVATI               400  0.001710
AMRELI                 348  0.001488
AMRITSAR               194  0.000830
AMROHA                 364  0.001556
ANAND                  247  0.001056
ANANTAPUR              788  0.003369
ANANTNAG                92  0.000393
ANJAW                  102  0.000436
ANUGUL                 497  0.002125
ANUPPUR                342  0.001462
ARARIA                 566  0.002420
ARIYALUR               130  0.000556
ARWAL                  297  0.001270
...                    ...       ...
UTTAR KANNAD           677  0.002895
VADODARA               461  0.001971
VAISHALI               572  0.002446
VALSAD                 294  0.001257
VARANASI               452  0.001933
VELLORE                521  0.002228
VIDISHA                447  0.001911
VILLUPURAM             494  0.002112
VIRUDHUNAGAR           493  0.002108
VISAKHAPATANAM         812  0.003472
VIZIANAGARAM           741  0.003169
WARANGAL               573  0.002450
WARDHA                 328  0.001403
WASHIM                 307  0.001313
WAYANAD                304  0.001300
WEST DISTRICT          182  0.000778
WEST GARO HILLS        485  0.002074
WEST GODAVARI          579  0.002476
WEST JAINTIA HILLS      37  0.000158
WEST KAMENG            153  0.000654
WEST KHASI HILLS       345  0.001475
WEST SIANG             186  0.000795
WEST SINGHBHUM          51  0.000218
WEST TRIPURA           291  0.001244
WOKHA                  455  0.001946
YADGIR                 212  0.000907
YAMUNANAGAR            326  0.001394
YANAM                  126  0.000539
YAVATMAL               357  0.001527
ZUNHEBOTO              411  0.001757

[622 rows x 2 columns]

In [14]:
p.Categorical(df['Mean Temp']).describe()

            counts     freqs
categories
52             586  0.002506
53            2374  0.010151
54            4132  0.017668
55            1788  0.007645
56            7821  0.033443
57            3004  0.012845
58            8992  0.038450
59            3612  0.015445
60            7776  0.033250
61            2398  0.010254
62            5439  0.023257
63            1204  0.005148
64            4176  0.017857
65            2982  0.012751
66            3614  0.015453
67            1204  0.005148
68            7796  0.033336
69            1194  0.005106
70            9660  0.041306
71            1204  0.005148
72            7856  0.033592
73            2420  0.010348
74            4852  0.020747
75            3600  0.015394
76            5996  0.025639
77            3004  0.012845
78            6056  0.025895
79            2420  0.010348
80           11492  0.049140
81            5460  0.023347
82           17620  0.075343
83            5472  0.023398
84           13972  0.059744
85            6688  0.028598
86           14700  0.062857
87            2432  0.010399
88            6104  0.026101
89            1216  0.005200
90            7392  0.031608
91            1848  0.007902
92            6808  0.029111
93            1860  0.007953
94            4960  0.021209
95            2480  0.010604
96            2480  0.010604
98            2480  0.010604
99             620  0.002651
100            620  0.002651

In [15]:
p.Categorical(df['Season']).describe()

             counts     freqs
categories
Autumn         4299  0.018382
Kharif        92353  0.394900
Rabi          62809  0.268571
Summer        13666  0.058436
Whole Year    55137  0.235765
Winter         5600  0.023946

In [16]:
p.Categorical(df['Average Humidity']).describe()

            counts     freqs
categories
11             596  0.002548
13             596  0.002548
14             596  0.002548
15            1192  0.005097
16            1836  0.007851
17            3696  0.015804
18            3076  0.013153
19            3696  0.015804
20            1860  0.007953
21            4888  0.020901
22            5460  0.023347
23            3672  0.015701
24            2456  0.010502
25            1860  0.007953
26            1240  0.005302
27            3672  0.015701
28            1812  0.007748
29            1860  0.007953
30             620  0.002651
31            1836  0.007851
32            1824  0.007799
33            2992  0.012794
34            3028  0.012948
35            3636  0.015547
36            6032  0.025793
37            4852  0.020747
38            6058  0.025904
39            1824  0.007799
40            6700  0.028649
41            7884  0.033712
...            ...       ...
62            6045  0.025848
63            4220  0.018045
64            3648  0.015599
65            5448  0.023296
66             596  0.002548
67            1812  0.007748
68            4244  0.018147
69            1836  0.007851
70            1216  0.005200
71            2408  0.010297
72            3624  0.015496
73            2396  0.010245
74            3648  0.015599
75            3040  0.012999
76            1216  0.005200
77             608  0.002600
79             608  0.002600
80            1216  0.005200
81            1216  0.005200
83             608  0.002600
84             596  0.002548
85             596  0.002548
86            1824  0.007799
87            1216  0.005200
88            1216  0.005200
91            1216  0.005200
93            1216  0.005200
96             608  0.002600
98             608  0.002600
100            608  0.002600

[80 rows x 2 columns]

In [17]:
p.Categorical(df['rainfall']).describe()

            counts     freqs
categories
0.000000    105715  0.452036
0.000144       620  0.002651
0.000390       586  0.002506
0.001263       608  0.002600
0.001531       608  0.002600
0.001614       608  0.002600
0.001724       608  0.002600
0.001810       620  0.002651
0.002335       608  0.002600
0.002371       608  0.002600
0.002750       608  0.002600
0.002798       608  0.002600
0.003229       608  0.002600
0.003249       586  0.002506
0.003383       586  0.002506
0.003501       608  0.002600
0.003779       608  0.002600
0.004172       597  0.002553
0.004637       586  0.002506
0.004642       608  0.002600
0.005423       608  0.002600
0.005715       608  0.002600
0.006214       586  0.002506
0.006420       596  0.002548
0.007976       608  0.002600
0.008585       608  0.002600
0.009072       608  0.002600
0.009484       620  0.002651
0.010284       596  0.002548
0.011398       620  0.002651
...            ...       ...
0.224609       596  0.002548
0.231896       596  0.002548
0.234777       596  0.002548
0.238213       596  0.002548
0.240191       596  0.002548
0.241480       596  0.002548
0.242758       596  0.002548
0.245726       596  0.002548
0.248938       596  0.002548
0.253562       596  0.002548
0.256056       596  0.002548
0.259883       596  0.002548
0.262440       596  0.002548
0.264613       596  0.002548
0.267170       596  0.002548
0.271448       596  0.002548
0.273864       596  0.002548
0.277729       596  0.002548
0.277896       596  0.002548
0.285606       596  0.002548
0.288093       596  0.002548
0.288621       596  0.002548
0.290784       596  0.002548
0.291241       596  0.002548
0.293965       596  0.002548
0.301119       596  0.002548
0.310730       596  0.002548
0.313283       596  0.002548
0.331470       596  0.002548
0.348660       596  0.002548

[214 rows x 2 columns]

In [18]:
p.Categorical(df['Crop']).describe()

                           counts     freqs
categories
Apple                           4  0.000017
Arcanut (Processed)            20  0.000086
Arecanut                     1388  0.005935
Arhar/Tur                    7274  0.031104
Ash Gourd                      44  0.000188
Atcanut (Raw)                  20  0.000086
Bajra                        5380  0.023005
Banana                       3209  0.013722
Barley                       3969  0.016971
Bean                           20  0.000086
Beans & Mutter(Vegetable)     167  0.000714
Beet Root                      16  0.000068
Ber                            11  0.000047
Bhindi                        236  0.001009
Bitter Gourd                   92  0.000393
Black pepper                  934  0.003994
Blackgram                     118  0.000505
Bottle Gourd                   84  0.000359
Brinjal                       386  0.001651
Cabbage                       205  0.000877
Cardamom                      417  0.001783
Carrot                         28  0.000120
Cashewnut                    1081  0.004622
Cashewnut Processed            21  0.000090
Cashewnut Raw                  35  0.000150
Castor seed                  3359  0.014363
Cauliflower                   122  0.000522
Citrus Fruit                  301  0.001287
Coconut                      1769  0.007564
Coffee                          6  0.000026
...                           ...       ...
Ribed Guard                    38  0.000162
Rice                        13994  0.059838
Ricebean (nagadal)             10  0.000043
Rubber                         29  0.000124
Safflower                    1241  0.005307
Samai                          87  0.000372
Sannhamp                     2257  0.009651
Sapota                         39  0.000167
Sesamum                      8431  0.036051
Small millets                4453  0.019041
Snak Guard                     82  0.000351
Soyabean                     3036  0.012982
Sugarcane                    7612  0.032549
Sunflower                    5338  0.022825
Sweet potato                 4198  0.017951
Tapioca                      1586  0.006782
Tea                            62  0.000265
Tobacco                      2592  0.011083
Tomato                        368  0.001574
Total foodgrain               165  0.000706
Turmeric                     3945  0.016869
Turnip                          8  0.000034
Urad                         9235  0.039489
Varagu                         58  0.000248
Water Melon                    85  0.000363
Wheat                        7471  0.031946
Yam                            36  0.000154
other fibres                   10  0.000043
other misc. pulses             70  0.000299
other oilseeds                533  0.002279

[124 rows x 2 columns]

In [19]:
#Checking for duplicate data
df.duplicated()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
233834    False
233835    False
233836    False
233837    False
233838    False
233839    False
233840    False
233841    False
233842    False
233843    False
233844    False
233845    False
233846    False
233847    False
233848    False
233849    False
233850    False
233851    False
233852    False
233853    False
233854    False
233855    False
233856    False
233857    False
233858    False
233859    False
233860    False
233861    False
233862    False
233863    False
Length: 233864, dtype: bool

In [20]:
#find sum of duplicate data
sum(df.duplicated())

0

In [21]:
df.nunique()

State_Name                               32
District_Name                           622
Crop_Year                                19
Season                                    6
Crop                                    124
Area                                  37005
rainfall                                214
Average Humidity                         80
Mean Temp                                48
Cost of Cultivation (`/Hectare) C2       49
Cost of Production (`/Quintal) C2        49
Yield (Quintal/ Hectare)                 49
cost of production per yield            337
dtype: int64

In [22]:
#Correlation
df.corr()

,Crop_Year,Area,rainfall,Average Humidity,Mean Temp,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
Crop_Year,1.000000,-0.022423,-0.004552,0.001610,0.023672,0.000076,-0.000329,-0.000704,-0.003772
Area,-0.022423,1.000000,-0.001848,0.003529,-0.001584,-0.000415,0.004600,-0.000082,0.001898
rainfall,-0.004552,-0.001848,1.000000,-0.015100,-0.305441,-0.033105,-0.010662,0.063940,-0.040569
Average Humidity,0.001610,0.003529,-0.015100,1.000000,-0.245617,-0.014993,0.024375,-0.105006,-0.070333
Mean Temp,0.023672,-0.001584,-0.305441,-0.245617,1.000000,0.118188,-0.024307,0.040514,-0.003524
Cost of Cultivation (`/Hectare) C2,0.000076,-0.000415,-0.033105,-0.014993,0.118188,1.000000,0.047302,0.004985,-0.060602
Cost of Production (`/Quintal) C2,-0.000329,0.004600,-0.010662,0.024375,-0.024307,0.047302,1.000000,-0.308909,-0.059073
Yield (Quintal/ Hectare),-0.000704,-0.000082,0.063940,-0.105006,0.040514,0.004985,-0.308909,1.000000,0.749997
cost of production per yield,-0.003772,0.001898,-0.040569,-0.070333,-0.003524,-0.060602,-0.059073,0.749997,1.000000

In [23]:
#Checking minimum or maximum yields (100kg/2.47 acre)
print("Minimum yield of crops is  (100kg/2.47 acre):", df["Yield (Quintal/ Hectare) "].min())
print("Maximun yield of crops is  (100kg/2.47 acre):", df["Yield (Quintal/ Hectare) "].max())

Minimum yield of crops is  (100kg/2.47 acre): 1.32
Maximun yield of crops is  (100kg/2.47 acre): 1015.45

In [24]:
#Checking minimum or maximum cost production for c2 scheme (per 2.47 acre)
print("Minimum cost production for c2 scheme(per 2.47 acre):", df["Cost of Production (`/Quintal) C2"].min())
print("Maximun cost production for c2 scheme(per 2.47 acre):", df["Cost of Production (`/Quintal) C2"].max())

Minimum cost production for c2 scheme(per 2.47 acre): 85.79
Maximun cost production for c2 scheme(per 2.47 acre): 5777.48

In [25]:
#Rename the data
df.rename(columns={'Cost of Cultivation (`/Hectare) C2':'CC'}, inplace=True)
df.rename(columns={'Cost of Production (`/Quintal) C2':'CP'}, inplace=True)
df.rename(columns={'Yield (Quintal/ Hectare) ':'Y'}, inplace=True)
#show the dataframe
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,rainfall,Average Humidity,Mean Temp,CC,CP,Y,cost of production per yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,0.012360,57,62,23076.74,1941.55,9.83,19085.4365
1,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,0.084119,56,58,12610.85,1691.66,6.83,11554.0378
2,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,0.080064,58,53,32683.46,3207.35,9.33,29924.5755
3,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,0.181051,57,58,13209.32,2228.97,5.90,13150.9230
4,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Arecanut,1264.7,0.035446,63,67,22560.30,1595.56,13.57,21651.7492